*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.o
*.cpp~
*.hpp~
*.cu~
test_sim_compile
test_simulation
test_simulation_set
test_simulation_cuda
test_simulation_set_cuda
*.swp
*.swo
*.swn

*.cmake
*.cbp
*.layout

build/CMakeFiles/

build/source/

build/test/

build/Testing/

build/CMakeCache\.txt

build/Makefile

binary/*
!binary/\.keep

build/param_grad_template\.csv

build/param_pert_template\.csv

build/param_sets_template\.csv
